.logo-img {
    margin-right: 35px;
}

#fonte {
    margin-top: 20px;
}

#card1 {
    border: 1px solid #5470c6;
}

#card2 {
    border: 1px solid #ee6666;
}

#card3 {
    border: 1px solid #3ba272;
}

#card4 {
    border: 1px solid #73c0de;
}